* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Proxima Nova/Proxima Nova Extrabold.otf"); }

@font-face {
  font-family: 'Miandra';
  src: url("../fonts/Miandra-gd/miandra-gd.ttf"); }

header {
  height: 100vh; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.head-wrp {
  padding: 5% 5% 0 5%;
  display: flex;
  justify-content: space-between; }
  .head-wrp .logo .logo-wrp {
    padding: 10px;
    margin-top: 35%;
    border-radius: 50%;
    background-color: #ff9e06;
    color: white;
    font-family: Miandra;
    font-size: 2rem;
    font-weight: 400; }
  .head-wrp .slogan {
    font-family: Proxima Nova;
    font-size: 7rem;
    color: #1a202d;
    font-weight: 400;
    text-align: right;
    display: flex;
    flex-direction: column; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

main {
  background-color: #1a202d; }

.main-wrp {
  height: 100%;
  padding: 5% 0 5% 0;
  color: white; }

.block {
  border-radius: 15px;
  background-position: center;
  background-size: cover; }

.first {
  margin: 0 auto;
  width: 1000px;
  height: 475px;
  background-image: url(../img/first_section.png);
  background-color: orange; }

.second {
  background-image: url(../img/second_section.png);
  background-color: #7f1296; }

.third {
  background-image: url(../img/third_section.png);
  background-color: #00a7f1; }

.fourth {
  background-image: url(../img/fourth_section.png);
  background-color: #4481e6;
  height: 475px;
  width: 760px; }

.rowTwo {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px; }
  .rowTwo section {
    width: 490px;
    height: 600px; }

.rowThree {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1000px; }

footer {
  height: 150px;
  background-color: white; }
