@import 'variables'

// Body section
.wrapper
	max-width: 1200px
	margin: 0 auto

main
	background-color: $color2

.main-wrp
	height: 100%
	padding: 5% 0 5% 0


	color: white
// Block settings
.block
		border-radius: 15px
		background-position:  center
		background-size: cover

.first

	margin: 0 auto
	width: 1000px
	height: 475px

	background-image: url(../img/first_section.png)
	background-color: orange

.second
	
	background-image: url(../img/second_section.png)
	background-color: #7f1296

.third

	background-image: url(../img/third_section.png)
	background-color: #00a7f1

.fourth

	background-image: url(../img/fourth_section.png)
	background-color: #4481e6

	height: 475px
	width: 760px

.rowTwo


	display: flex
	justify-content: space-between

	max-width: 1000px
	margin: 0 auto
	margin-top: 20px

	section



		width: 490px
		height: 600px
.rowThree
	
	margin: 0 auto
	margin-top: 20px
	max-width: 1000px